<div class="champion-wrapper">
  <div class="champion-group" >
    <ul class="champion-cat">

      <h2>Melee</h2>
      <mat-card class="champion" [ngClass]="{'active': champion.active}"  *ngFor="let champion of melee">
        <div (click)="activateClass(champion)">
          <mat-card-header>
            <mat-card-title class="">{{champion.name}}</mat-card-title>
            <mat-card-subtitle class="mat-card-description">{{champion.desc}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image	src="{{champion.portrait}}">
        </div>
        <mat-card-content>
        <mat-card class="skills " [ngClass]="{'active': skills.active}" *ngFor="let skills of champion['skills']">
          <img  mat-card-image src="{{skills.icon}}">

        </mat-card>
          <button (click)="{'active': activateSkills(skills)}" >Skills</button>
        </mat-card-content>

        <button>Lore</button>
        <mat-card-content class="lore" [class]="active">
          <p>{{champion.lore}}</p>
        </mat-card-content>

      </mat-card>

    </ul>

    <ul class="champion-cat">
      <h2>Ranged</h2>
      <mat-card class="champion" [ngClass]="{'active': champion.active}"  *ngFor="let champion of ranged">
        <div (click)="activateClass(champion)">
          <mat-card-header>
            <mat-card-title class="">{{champion.name}}</mat-card-title>
            <mat-card-subtitle class="mat-card-description">{{champion.desc}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image	src="{{champion.portrait}}">
        </div>
        <mat-card-content>
          <mat-card class="skills " [ngClass]="{'active': champion.active}" *ngFor="let skills of champion['skills']">
            <img mat-card-image src="{{skills.icon}}">
          </mat-card>
          <button>Skills</button>
        </mat-card-content>

        <button (click)="activateClass(champion)">Lore</button>
        <mat-card-content class="lore" [ngClass]="{'active': !champion.lore}" >
          <p>{{champion.lore}}</p>
        </mat-card-content>

      </mat-card>

     </ul>

    <ul  class="champion-cat">
      <h2>Support</h2>
      <mat-card class="champion" [ngClass]="{'active': champion.active}"  *ngFor="let champion of support">
        <div (click)="activateClass(champion)">
          <mat-card-header>
            <mat-card-title class="">{{champion.name}}</mat-card-title>
            <mat-card-subtitle class="mat-card-description">{{champion.desc}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image	src="{{champion.portrait}}">
        </div>
        <mat-card-content>
          <mat-card class="skills " [ngClass]="{'active': champion.active}" *ngFor="let skills of champion['skills']">
            <img mat-card-image src="{{skills.icon}}">
          </mat-card>
          <button>Skills</button>
        </mat-card-content>

        <button (click)="activateClass(champion)">Lore</button>
        <mat-card-content class="lore" [ngClass]="{'active': !champion.lore}" >
          <p>{{champion.lore}}</p>
        </mat-card-content>

      </mat-card>

    </ul>
    <ng-container *ngFor="let item of gameplay">
      {{item.name}}
      {{item.description}}
      <img src="../../assets/champions"
      <ng-container *ngFor="let skills of gameplay.battlerites">
        {{skills.name}}
        {{skills.description}}
      </ng-container>
    </ng-container>
  </div>
</div>

