<div class="champion-wrapper">
  <div class="champion-group" >
    <ul class="champion-cat">

      <h2>Melee</h2>
      <mat-card class="champion" *ngFor="let results of melee">
        <mat-card-title class="">{{results.name}}</mat-card-title>
        <img class="portrait" src="{{results.portrait}}">
        <mat-card-subtitle class="mat-card-description">{{results.desc}}</mat-card-subtitle>

      </mat-card>
    </ul>

    <ul class="champion-cat">
      <h2>Ranged</h2>

      <li class="mat-card champion" *ngFor="let results of ranged">
        <img class="portrait" src="{{results.portrait}}">
        <h3 class="mat-card title"> {{results.name}}</h3>
        <h5 class="mat-card-description">{{results.desc}}</h5>

      </li>
     </ul>

    <ul  class="champion-cat">
      <h2>Support</h2>

      <li class="mat-card champion" *ngFor="let results of support">
        <img class="portrait" src="{{results.portrait}}">
        <h3 class="mat-card title"> {{results.name}} </h3>
        <h5 class="mat-card-description">{{results.desc}}</h5>

      </li>

    </ul>
  </div>
</div>
