.user-container {
  padding: 10px 10px;
}

.user-image{
  height: 50px;
}

.div-tile {
  text-align: left;
}

.mat-grid-tile {
  background: lightgray;
  color: #031737;
}

.tileTitle{
  background: none;
  color: lightgray;
}
