
<div class="user-container">
  <mat-grid-list cols="9" rowHeight="75" >

    <mat-grid-tile [colspan]="2">{{att.name}}</mat-grid-tile>
    <mat-grid-tile [colspan]="1">rank</mat-grid-tile>
    <mat-grid-tile [colspan]="1">wins</mat-grid-tile>
    <mat-grid-tile [colspan]="1">losses</mat-grid-tile>
    <mat-grid-tile [colspan]="2">moar stats</mat-grid-tile>
    <mat-grid-tile [colspan]="2">moar stats</mat-grid-tile>

    <mat-grid-tile [colspan]="2"><img class="user-image" src="../../assets/players/profileImages/index.png"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">3</mat-grid-tile><!-- rank -->
    <mat-grid-tile [colspan]="1">4</mat-grid-tile><!-- wins -->
    <mat-grid-tile [colspan]="1">5</mat-grid-tile><!-- losses -->
    <mat-grid-tile [colspan]="2">6</mat-grid-tile><!-- moar stats -->
    <mat-grid-tile [colspan]="2">6</mat-grid-tile><!-- moar stats -->

    <mat-grid-tile [colspan]="9"></mat-grid-tile>

    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>




  </mat-grid-list>
</div>
