<!--
  Tabs and tab content switching taken from a combination of these examples (mainly second example);
  https://www.w3schools.com/howto/howto_js_tabs.asp
  https://stackoverflow.com/questions/44630684/angular-4-click-changes-the-class-of-another-element-without-using-jquery
-->

<div class="tournament-box">

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" (click)="activeTab = 'myTourneys'">My Tournaments</button>
  <button class="tablinks" (click)="activeTab = 'pubTourneys'">Public Tournaments</button>
  <button class="tablinks" (click)="activeTab = 'currTourney'">Selected Tournament</button>
</div>
<div class="background">
<!-- Tabs content -->
<div [ngClass]="{show: activeTab=='myTourneys', hide: activeTab!='myTourneys'}">
  <h3>My Tournaments</h3>
  <p (click)="activeTab = 'newTourney'">Create new tournament here [link]</p>
  <h3>Tournaments</h3>
  <ul class="mytournamentdiv">
    <ng-container *ngFor="let tournament of ownTourneyData?.tournaments">
      <li><button (click)="activeTab = 'currTourney'; updateTournamentData(tournament.tournamentID)">{{ tournament.name }}</button></li>
    </ng-container>
  </ul>
</div>
<div [ngClass]="{ show: activeTab=='pubTourneys', hide: activeTab!='pubTourneys'}">
  <h3>Public Tournaments</h3>
  <div class="publictournamentdiv">
    <ng-container *ngFor="let tournament of allTourneyData?.tournaments">
      <li><button (click)="activeTab = 'currTourney'; updateTournamentData(tournament.tournamentID)">{{ tournament.name }}</button></li>
    </ng-container>
  </div>
</div>
<div [ngClass]="{show: activeTab=='currTourney', hide: activeTab!='currTourney'}">
  <h3>Current Tournament: </h3>
  <p>Tournament information, schedule, matches played here...</p>

  <p>Database file last updated on {{ tournamentData?.timestamp }}</p>

  <main id="tournament">
    <ul class="round" *ngFor="let round of tournamentData?.matches">
      <li class="spacer">&nbsp;</li>

      <ng-container *ngFor="let match of round">
        <li class="game game-top">{{ match.p1 }}</li>
        <li class="game game-spacer"> </li>
        <li class="game game-bottom">{{ match.p2 }}</li>

        <li class="spacer"> </li>
      </ng-container>
    </ul>
  </main>
</div>
<div [ngClass]="{show: activeTab=='newTourney', hide: activeTab!='newTourney'}">

  <h3>Create new tournament</h3>
  <p>Create a new tournament, fill out all values and hit the "submit" button to create a new tournament. User ID: {{steam}}</p>

  <form action="http://localhost:5000/tournament/create" method="post">
    <table>

    <input type="hidden" name="playerID" value="00000001">
      <tr><td>Tournament name:</td><td><input type="text" name="tourneyName"></td></tr>
      <tr><td>Tournament visibility:</td>
    <td><select name="visibility">
      <option value="public">Public</option>
      <option value="private">Private</option>
    </select></td>
    </tr>
      <tr><td>Number of teams:</td>
      <td><select name="numTeams">
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="64">64</option>
      </select></td>
      </tr>
      <tr>
        <td>Number of players per team:</td>
        <td><select name="playersPerTeam">
          <option value="2">2</option>
          <option value="3">3</option>
        </select></td>
      </tr>
    <tr><td></td><td><input type="submit" value="Create"></td></tr>
    </table>
  </form>


</div>
</div>
</div>
