
<header class="header">


  <a class="hamburger hamburger--elastic header__icon" id="header__icon" [ngClass]="{'with--sidebar': mobile, 'is-active': mobile}" (click)="mobile = !mobile">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
  </a>

  <img class="logo header__logo" src="../../assets/navigation/logo-small.png">

  <nav class="menu">
    <mat-button-toggle-group>
      <mat-button-toggle routerLink="" routerLinkActive="active">Home</mat-button-toggle>
      <mat-button-toggle routerLink="/player" routerLinkActive="active">Player Stats</mat-button-toggle>
      <mat-button-toggle routerLink="/team" routerLinkActive="active">Team Stats</mat-button-toggle>
      <mat-button-toggle routerLink="/champions" routerLinkActive="active">Champion list</mat-button-toggle>
      <mat-button-toggle routerLink="/tournament" routerLinkActive="active">Tournament</mat-button-toggle>
    </mat-button-toggle-group>
  </nav>

  <app-steam></app-steam>

</header>

