
<header class="header">


  <a class="hamburger hamburger--elastic header__icon" id="header__icon" [ngClass]="{'with--sidebar': mobile, 'is-active': mobile}" (click)="mobile = !mobile">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
  </a>

  <img class="logo header__logo" src="../../assets/navigation/logo-small.png">

  <nav class="menu">
    <a routerLink="" routerLinkActive="active">Home</a>
    <a routerLink="/player" routerLinkActive="active">Player Stats</a>
    <a routerLink="/team" routerLinkActive="active">Team Stats</a>
    <a routerLink="/champions">Champion list</a>
  </nav>

  <app-steam></app-steam>

</header>

